/* CSS Variables */

:root {
  --font-heading: "Bangers", system-ui;
  --font-body: "Gudea", sans-serif;
  --text-color: #27296d;
  --background-color: #f5c7f7;
  --feature-color-lighter: #a393eb;
  --feature-color-darker: #5e63b6;
  --box-shadow-light: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-heavy: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* CSS Typography */

h1,
h2,
h3 {
  color: var(--text-color);
  font-family: var(--font-heading);
  letter-spacing: 5px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

p,
li {
  color: var(--text-color);
  font-family: var(--font-body);
  font-weight: 400;
}

/* Global CSS */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

section {
  margin: 0;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.title-center {
  text-align: center;
  padding: 100px 0 0 0;
}

/* Buttons CSS */

button {
  background-color: var(--feature-color-darker);
  border: 3px solid var(--feature-color-darker);
  border-radius: 20px;
  box-shadow: var(--box-shadow-light);
  color: white;
  font-family: var(--font-body);
  font-size: 25px;
  margin: 50px;
  padding: 25px 10px;
  width: 600px;
}

button:hover {
  background-color: var(--feature-color-lighter);
  border: 3px solid var(--feature-color-darker);
  cursor: pointer;
}

.button-small {
  margin: auto auto 20px auto;
  width: 300px;
}

.button-small a {
  color: white;
}

/* Hero CSS */

.hero-text {
  color: var(--background-color);
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/cobbled-street.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
  text-align: center;
  width: 100%;
}

#hero-intro {
  font-size: 40px;
}

/* Description CSS */

.description-container {
  display: flex;
  margin: 100px;
}

#description-pic {
  border-radius: 10px;
  box-shadow: var(--box-shadow-heavy);
}

#description-para {
  padding: 0 50px;
  font-size: 30px;
}

/* More Info CSS */

.more-info-container {
  display: flex;
  justify-content: space-around;
  margin: 0 50px;
}

.second-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

/* Highlights CSS */

.highlight-section {
  background-color: var(--feature-color-lighter);
  background-image: url("images/60-lines.png");
  padding-bottom: 100px;
}

.highlight-vid {
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  width: 300px;
}

/* Beaches CSS */

.beach-section {
  background-color: var(--background-color);
  background-image: url("images/60-lines.png");
  padding-bottom: 100px;
}

/* Highlights & Beaches CSS */

.highlight-container,
.beach-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 0 auto;
  width: 90%;
}

.highlight-card,
.beach-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow-heavy);
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}

.highlight-para,
.beach-para {
  font-size: 25px;
}

.highlight-section,
.beach-section {
  margin: 0;
  padding-bottom: 100px;
}

.highlight-section h3,
.beach-section h2 {
  margin-top: 0;
}

/* Gallery CSS */

.gallery-container {
  display: flex;
  justify-content: space-around;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 100px;
  grid-gap: 80px;
  width: 80%;
}

.image-gallery img {
  border-radius: 20px;
  box-shadow: var(--box-shadow-heavy);
  max-width: 350px;
  width: 100%;
}

/* Footer CSS */

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;
  padding: 100px 0;
  width: 100%;
}

.footer-container {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: 1fr 2fr 2fr;
  margin: auto;
  width: 80%;
}

.footer-container h3,
.footer-container p {
  color: var(--background-color);
}

.footer-container a:visited {
  color: var(--background-color);
  text-decoration: none;
}

.footer-para,
.footer-link {
  font-size: 25px;
}

.footer-para {
  line-height: 1.5;
}

.footer-link {
  line-height: 2;
}

/* Media Queries */

@media (max-width: 400px) {
  .highlight-vid {
    width: 200px;
  }

  .button-small {
    width: 200px;
  }
}

@media (max-width: 1100px) {
  header,
  .hero,
  .highlight-section,
  .beach-section,
  footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .hero {
    width: 100%;
  }

  #hero-intro {
    font-size: 20px;
  }

  .description-container {
    flex-direction: column;
    margin: 0;
  }

  #description-pic {
    width: 250px;
    display: block;
    margin: 40px auto 20px auto;
  }
  #description-para {
    font-size: 15px;
    padding: 15px;
    text-align: center;
  }
  .more-info-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  button {
    font-size: 15px;
    width: 280px;
    margin: 20px auto;
    padding: 10px;
    display: block;
  }
  .playlist {
    max-width: 600px;
  }
  .highlight-container,
  .beach-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
  }

  .highlight-card,
  .beach-card {
    flex-direction: column;
    padding: 30px;
    text-align: center;
    width: 80%;
  }

  .highlight-para,
  .beach-para,
  .footer-para {
    font-size: 15px;
  }

  .images {
    display: none;
  }

  footer {
    margin-top: 0;
  }

  .footer-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;
  }
}
