/* CSS Variables */

:root {
  --font-heading: "Lora", serif;
  --font-body: "Poppins", sans-serif;
  --text-color: #27296d;
  --background-color: #f5c7f7;
  --feature-color-lighter: #a393eb;
  --feature-color-darker: #5e63b6;
  --box-shadow-light: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-heavy: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* CSS Headings & Text */

h1,
h2,
h3 {
  color: var(--text-color);
  font-family: var(--font-heading);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h3 {
  font-size: 40px;
}

p {
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 30px;
  font-weight: 400;
  line-height: 2;
}

.hero-text {
  color: var(--background-color);
}

/* CSS by Elements */

body {
  background-color: var(--background-color);
  background-image: url("images/brushed-alum-dark.png");
  margin: 0;
}

button {
  background-color: var(--feature-color-darker);
  border: 3px solid var(--feature-color-darker);
  border-radius: 20px;
  box-shadow: var(--box-shadow-light);
  color: var(--background-color);
  font-family: var(--font-body);
  font-size: 30px;
  margin: 50px;
  padding: 50px 20px;
}

button:hover {
  background-color: var(--feature-color-lighter);
  border: 3px solid var(--feature-color-darker);
  cursor: pointer;
}

/* CSS by Classes */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/cobbled-street.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
  text-align: center;
  width: 100%;
}

.description-container {
  display: flex;
  margin: 100px;
}

.more-info-container {
  display: flex;
  justify-content: space-around;
  margin: 0 50px;
}

.second-col {
  align-items: center;
  display: flex;
}

/* CSS by IDs */

#description-pic {
  border-radius: 10px;
  box-shadow: var(--box-shadow-heavy);
}

#description-para {
  padding: 0 50px;
}

/* Media Queries */
